{% extends 'base.html' %}
{% load static from staticfiles %}
{% block extra_css %}
<link href="{% static "css/lib/dataTables.bootstrap.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <p class="header-dropdown m-r--5"><a href="{% url 'create_survey' %}" class="btn btn-lg btn-primary">Create Surveys</a></p>
            <h2>List Surveys</h2>
          </div>
          <div class="body">
            <div class="tablet_data">
              <table class="table table-bordered table-responsive table-striped table-hover js-basic-example dataTable">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% if object_list %}
                    {% for value in object_list %}
                    <tr>
                      <td>{{value.title}}</td>
                      <td>{{value.descripcion|truncatechars:15}}</td>
                      <td>{{value.pub_date}}</td>
                      <td class="text-center">
                        <a href="{% url 'answers_questions_survey' id=value.pk %}" class="btn btn-sm btn-info"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Responder Encuestas">
                          <i class="material-icons">question_answer</i>
                        </a>
                        <a href="{% url 'details_survey' id=value.pk %}" class="btn btn-sm btn-success"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Detalles">
                          <i class="material-icons">visibility</i>
                        </a>
                        <a href="{% url 'create_questions_survey' id=value.pk %}" class="btn btn-sm btn-primary"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Agregar Preguntas">
                          <i class="material-icons">add</i>
                        </a>
                        <a href="{% url 'edit_survey' id=value.pk %}" class="btn btn-sm btn-warning"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar Encuenta">
                          <i class="material-icons">edit</i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
  <script src="{% static "js/jquery.dataTables.js" %}"></script>
  <script src="{% static "js/lib/dataTables.bootstrap.min.js" %}"></script>
  <script src="{% static "js/lib/jquery-datatable.js" %}"></script>

{% endblock %}
