{% extends 'base.html' %}
{% load static from staticfiles %}
{% block extra_css %}
<link href="{% static "css/lib/bootstrap-select.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>Recognition</h2>
          </div>
          <div class="body">
            <form class="post-form" enctype="multipart/form-data" method="POST">{% csrf_token %}
              <input type="hidden" name="get_id" value="{{get_id}}">
              <div class="row clearfix">

                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">{{form.label.label}}</label>
                          {{ form.label }}
                        </div>
                        {% if form.label.errors %}
                          {% for error in form.label.errors %}
                            <span class="font-bold col-red">{{ error|escape }}</span>
                          {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">{{form.modelo.label}}</label>
                          {{ form.modelo }}
                        </div>
                        {% if form.modelo.errors %}
                          {% for error in form.modelo.errors %}
                            <span class="font-bold col-red">{{ error|escape }}</span>
                          {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">{{form.descripcion.label}}</label>
                          {{ form.descripcion }}
                        </div>
                        {% if form.descripcion.errors %}
                          {% for error in form.descripcion.errors %}
                            <span class="font-bold col-red">{{ error|escape }}</span>
                          {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">{{form.month.label}}</label>
                          {{ form.month }}
                        </div>
                        {% if form.month.errors %}
                          {% for error in form.month.errors %}
                            <span class="font-bold col-red">{{ error|escape }}</span>
                          {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">{{form.year.label}}</label>
                          {{ form.year }}
                        </div>
                        {% if form.year.errors %}
                          {% for error in form.year.errors %}
                            <span class="font-bold col-red">{{ error|escape }}</span>
                          {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">{{form.estimated_date.label}}</label>
                          {{ form.estimated_date }}
                        </div>
                        {% if form.estimated_date.errors %}
                          {% for error in form.estimated_date.errors %}
                            <span class="font-bold col-red">{{ error|escape }}</span>
                          {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div {% if editForm %}class="col-sm-8"{% else %}class="col-sm-12"{% endif %}>
                    <div class="form-group">
                        <div class="form-line">
                          {{ form.image }}
                        </div>
                        {% if form.image.errors %}
                          {% for error in form.image.errors %}
                            <span class="font-bold col-red">{{ error|escape }}</span>
                          {% endfor %}
                        {% endif %}
                    </div>
                </div>

                {% if editForm %}
                  <div class="col-sm-4">
                    <div class="form-group">
                          {{ form.status }}
                          <label for="{{form.status.id_for_label }}" class="form-label">{{form.status.label}}</label>
                      </div>
                  </div>
                {% endif %}

                <div class="col-sm-12">
                  <div class="form-group form-float">
                      <div class="form-line">
                        <label class="form-label">{{form.note_img.label}}</label>
                        {{ form.note_img }}
                      </div>
                      {% if form.note_img.errors %}
                        {% for error in form.note_img.errors %}
                          <span class="font-bold col-red">{{ error|escape }}</span>
                        {% endfor %}
                      {% endif %}
                  </div>
                </div>

                {% if editForm %}
                  <div class="col-sm-12">
                    <label class="form-label">Estado de la operacion:</label>
                    {{ form.state }}
                    {% if form.state.errors %}
                      {% for error in form.state.errors %}
                        <span class="font-bold col-red">{{ error|escape }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                {% endif %}

              </div>

              <hr>
              <div class="text-right">
                <button type="submit" class="btn btn-block btn-lg btn-success">{% if editForm %}Guardar Cambios{%else%}Guardar{% endif %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
<script src="{% static "js/lib/bootstrap-select.min.js" %}"></script>
{% endblock %}
